* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;

  column-gap: 40px;
}
.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px; /* not margin bcz we want the background color to be spanned over the space*/
  grid-column: 1/-1;
}
.product-description {
  margin-bottom: 10px;
}
.price {
  font-size: 24px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li {
  margin-bottom: 10px;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.add-cart {
  background-color: black;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 1/-1;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
}
.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
  letter-spacing: 2px;
}
.colors {
  display: flex;
  gap: 10px;
}
.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}
.priceshipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
