* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
nav {
  font-size: 18px;
  text-align: center;
}
nav a:link {
  margin-right: 30px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}
.btn-positionTest {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 50px;
  right: 50px;
}
.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}
/* footer p {
  font-size: 16px;
} */
/* article header p {
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
  margin-left: 0;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 10px;
  /* height: 80px; */
}
.post-img {
  width: 100%;
  height: auto;
}
article {
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}
/* pseudo calsse: */
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
  margin-bottom: 0;
}
li:nth-child(even) {
  /* color: red;*/
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h2::first-letter {
  font-size: 50px;
}
h2 {
  /* background-color: orange; */
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
h3 + p::first-line {
  /* color: red; */
}

/* misconception , this wont work*/
article p:first-child {
  color: red;
}
/* styling links:*/
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  /* color: #777; */
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
.post-header {
  margin-bottom: 40px;
}

/* FLOATS */
/*
.author {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
.author-img {
  float: left;
  margin-bottom: 20px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
article {
  width: 825px;
  float: left;
}
aside {
  width: 300px;
  float: right;
}
footer {
  clear: both;
}
*/

/* FLEXBOX */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author {
  margin-bottom: 0;
  margin-left: 15px;
}
.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
/* FLEXBOX LAYOUT */
/* .row {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}
aside {
  flex: 0 0 300px;
}
article {
  flex: 1;
  margin-bottom: 0;
} */

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}
.main-header {
  grid-column: 1/-1;
}
article {
}
aside {
  /* align-self: start; */
}
footer {
  grid-column: 1/-1;
}
